@font-face {
    font-family: "Caveat";
    src: url("../fonts/Caveat-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Caveat";
    src: url("../fonts/static/Caveat-Bold.ttf");
}

@font-face {
    font-family: "Beauty";
    src: url("../fonts/beauty/Beauty\ Rains.otf");
}

@font-face {
    font-family: "Beauty";
    src: url("../fonts/beauty/Beauty\ Rains.ttf");
}

@font-face {
    font-family: "Beauty";
    src: url("../fonts/beauty/Beauty\ Rains.woff");
}

/* 
@font-face {
    font-family: "MPlus";
    src: url("../fonts/MPLUSRounded1c-Regular.ttf");
}

@font-face {
    font-family: "NotoSansMonono";
    src: url("../fonts/NotoSansMono-VariableFont_wdth\,wght.ttf");
}

@font-face {
    font-family: "Geologica";
    src: url("../fonts/Geologica-VariableFont_CRSV\,SHRP\,slnt\,wght.ttf");
}

@font-face {
    font-family: "Geologica";
    src: url("../fonts/static/Geologica-Bold.ttf");
} */

/* @font-face {
    font-family: "Overstreet";
    src: url("../fonts/overstreet/OverstreetBible-Mnmw.otf");
} */

/* @font-face {
    font-family: "Overstreet";
    src: url("../fonts/overstreet/OverstreetBible3D-KzwA.otf");
} */

/* @font-face {
    font-family: "Overstreet";
    src: url("../fonts/overstreet/OverstreetBible3DItalic-29Yl.otf");
} */

/* @font-face { */
    /* font-family: "Overstreet"; */
    /* src: url("../fonts/overstreet/OverstreetBibleExpanded-178L.otf"); */
/* } */


/* @font-face {
    font-family: "Overstreet";
    src: url("../fonts/overstreet/OverstreetBibleBold-v6O7.otf");
}

@font-face {
    font-family: "Overstreet";
    src: url("../fonts/overstreet/OverstreetBibleBoldItalic-lDOX.otf");
} */

@font-face {
    font-family: "Overstreet";
    src: url("../fonts/overstreet/OverstreetBibleCondensed-nq3M.otf");
}

/* @font-face {
    font-family: "Overstreet";
    src: url("../fonts/overstreet/OverstreetBibleCondenseItal-Y7Wa.otf");
} */